:root {
    font-size: 16px;
    --colorPrimary: rgb(16, 0, 79);
    --coloWhite: rgb(255, 249, 230);
    --colorGray: rgb(92, 92, 92);
    --colorPink: rgb(232, 17, 75);
    --colorGreen: rgb(7, 108, 7);
    --colorRed: rgb(214, 4, 4);
    --linearGradient: linear-gradient(rgb(16, 0, 79) 0%, rgb(45, 52, 206) 22.14%);
}

/* estilos globales */
body {
    background: var(--linearGradient);
    margin: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    min-block-size: 100vh;
}

main {
    display: flex;
    align-items: start;
    justify-content: center;
    padding-block-start: 2rem;
}

/* estilos */
.form {
    background: var(--coloWhite);
    color: var(--colorPrimary);
    margin-inline: 1rem;
    padding: 2rem 1rem;
    border-radius: 1rem;
    inline-size: 100%;
    max-inline-size: 600px;
    text-align: center;

    .title,
    .titleCampo {
        text-align: center;
        color: var(--colorPrimary);
    }

    .content {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        text-align: start;
    }

    .label {
        display: block;
        margin-block-end: .25rem;
        font-weight: 700;
    }

    .input,
    .select {
        display: block;
        inline-size: 100%;
        box-sizing: border-box;
        padding: .5rem .5rem;
        border-radius: .5rem;
        border: 2px solid var(--colorGray);
    }

    .radio {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;

        margin-block-end: 1rem;
    }

    .button {
        margin-block-start: 1rem;
        inline-size: 100%;
        max-inline-size: 400px;
        padding: .5rem;
        background: var(--colorPink);
        color: var(--coloWhite);
        font-weight: 700;
        border-radius: 1rem;
        border: none;
        cursor: pointer;
        box-shadow: inset -2px -2px 5px rgb(181, 8, 54);
        font-size: 1rem;
        text-transform: uppercase;
        transition: background .3s;

        &:hover {
            background: rgb(149, 4, 42);
        }
    }
}

.error {
    color: var(--colorRed);
    background: rgba(214, 4, 4, .3);
}

.correct {
    color: var(--colorGreen);
    background: rgba(7, 108, 7, .3);
}

.error,
.correct {
    padding: .5rem;
    text-align: center;
    margin-block: 2rem;
}

.spinner {
    margin: 50px auto;
    width: 40px;
    height: 40px;
    position: relative;
    text-align: center;

    -webkit-animation: sk-rotate 2.0s infinite linear;
    animation: sk-rotate 2.0s infinite linear;
}

.dot1, .dot2 {
    width: 60%;
    height: 60%;
    display: inline-block;
    position: absolute;
    top: 0;
    background-color: var(--colorPink);
    border-radius: 100%;

    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
}

.dot2 {
    top: auto;
    bottom: 0;
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

@-webkit-keyframes sk-rotate { 100% { -webkit-transform: rotate(360deg) }}
@keyframes sk-rotate { 100% { transform: rotate(360deg); -webkit-transform: rotate(360deg) }}

@-webkit-keyframes sk-bounce {
    0%, 100% { -webkit-transform: scale(0.0) }
    50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
    0%, 100% { 
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    } 50% { 
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
}
